
<!-- mine-->


<body class="bg-primary">
        
    <div id="layoutAuthentication" >
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Admin Login </h3> </div>
                                <div class="card-body">

                                    <div class="card-body">
                                        <form [formGroup]="form" (ngSubmit)="send_login_to_server()">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                                    <div *ngIf="f.name.errors.required">Name is required</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-row">
                                                <div class="form-group col">
                                                    <button [disabled]="loading" class="btn btn-primary">
                                                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                                        Login
                                                    </button>
                                                    <a routerLink="/" class="btn btn-link pr-0">Forgot Password?</a>
                                                    <a routerLink="../" href="" class="btn btn-link">Cancel</a>
                                                </div>

                                            </div>
                                        </form>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>


              
        
 



            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>


<!--
    <div class="card-header"><h3 class="text-center font-weight-light my-4">Admin Login </h3> </div>
                                    <div class="card-body">
                                        <form (ngSubmit) = "send_login_to_server($event)">
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputName" type="user" placeholder="User name" />
                                                <label for="inputName">User name</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputPassword" type="password" placeholder="password" />
                                                <label for="inputPassword">Password</label>
                                            </div>
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                                                <label class="form-check-label" for="inputRememberPassword">Remember Password</label>
                                            </div>
                                            <input type="submit" class="btnRegister"  value="Submit"/>
                                            <div class="form-group col text-right">
                                                <a class="small" href="#">Forgot Password?</a>
                                                <a routerLink="../" href="" class="btn btn-link">Cancel</a>
                                               
                                                <!--  <button class="btn btn-primary" (click)="send_login_to_server()">Login</button> -->
                             <!--              </div> -->
                                         
-->