<div style="border: 2px solid black"> 
    <h2 style="text-align: center;">
        <b>First time login in?</b>
    </h2>
    <p>
        How to use this app you ask yourself? well, that's easy:
    </p>
    <br>
    <p>
        You have two main buttons, one is <b>Change courses</b> that will let you change your courses. 
    </p>  
    <br>
    <p>If you are a <b>student</b> it will apply the courses you want someone to help you with.</p>
    <br>
    <p>If you are a <b>tutor</b> it will apply the courses you can help someone with.</p>
    <br>
    <p>The same with <b>Change days</b> it will let you change the days and hours you can help or get help at.</p>
    <br>
    <p><b>IMPORTANT!</b> if changing days on mobile, make sure to rotate the phone to see the full scheduler!</p>
    <br>
    <p style="text-align: center;">Good luck!</p>
    <br>
    
</div>
<br>
<div style="text-align: center;">
    <button (click)="close_dialog_and_send_first_login_flag_update()">Understood!</button>
</div>
