
<mat-icon style="cursor: pointer;" (click)="close_dialog()">close</mat-icon>
<div style="text-align: center;">
    <h3>Choose a course from the list and press Search Matches</h3>
    <mat-form-field appearance="fill">
        <mat-label>Courses</mat-label>
        <mat-select [(ngModel)]="selected_course">
          <mat-option></mat-option>
          <mat-option *ngFor="let option of data.courses"[value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field> 
      <br>
    <button mat-raised-button color="primary" (click)="match()">Search Match</button>
    <div *ngIf="display_table">
    
        <div> <h4 style="text-underline-offset:initial">Results:</h4>

            <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Id</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Day Congruency</th>
                    <th scope="col">Match?</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let t of matched_tutors; let i = index;">
                    <th scope="row">{{i+1}}</th>
                    <td>{{t[0]}}</td>
                    <td>{{t[1]}}</td>
                    <td>{{t[2]}}</td>
                    <td><button mat-raised-button (click)="openDialog_match_tutor_to_student(t)">Match</button></td>

                  </tr>
                </tbody>
              </table>
    
    </div>
</div>